<article class="post">
  <div class="title">
    <a href="/post/{{id}}"><h4>{{title}}</h4></a>
    <p>{{content}}</p>
    <span> Posted by: {{user.username}} on {{format_date created_at}}</span>
  </div>
</article>