<ol class="post-list">
  {{#each posts}}
    <li>
      <article>
        <div>
          <a href="/api/post/{{id}}" target="_blank">{{title}}</a>
        </div>
        <div>
          <p>{{content}}</p>
          <p>Created at: {{created_at}} by {{user.username}}</p>
        </div>
      </article>
    </li>
  {{/each}}
</ol>