<ul class="post-list">
  {{#each posts}}
    <article>
      <div>
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
      </div>
      <div>
        <p>{{content}}</p>
        <p>Created at: {{format_date created_at}} by {{user.username}}</p>
      </div>
    </article>
  {{/each}}
</ul>